* {
    margin: 0; /* Margem Padrão*/
    padding: 0; /* Definir o tamanho de caixa */
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    /* Define o grupo de fontes da página*/
}

.cabecalho {
    padding: 20px;

    background-color: rgb(233, 0, 0); 
    /* Define a cor do fundo do cabecalho */
    
    width: 100%;
    /* Define a largura*/
    
    color: rgb(254, 254, 254);
    /* Cor da fonte*/
    
    height: 78px;
    /* Define a altura */
    
    text-align: center;
    /* Alinha o texto*/

    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.2); 
    /* Define a sombra da caixa*/
}

main {
    border-color: black;
    border-style: initial;
    border-width: 1px;

}

   .card-main{
    width: 160px;
    height: 300px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 20px;
    background-color: red;
    color: rgb(250, 250, 250);
    padding: 4px;

    }
    .card-container {
        display: flex; 
        flex-direction: row;
        justify-content: space-evenly;
    }

    .card-title{


    }


    .card-image{

    }

    .card-desc{


    }

    .card-price{


    }

    .card-btn{


    }
